html{
    background-color: lightblue;
    font-family: Arial;
}

h1{
    text-align: center;
    color: blue;
}

img{
    border: 1.5px solid;
    margin-left: 44.8%;
    width: 125px;
    height: 175px;
}

#infoDiv{
    background-color: white;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    padding: 20px;
}

ul{
    text-align: left;
}

#tableDiv{
    background-color: lightgray;
    padding: 20px;
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    
}

th{
    font-size: 30px;
}

td{
    font-size: 20px;
}