html{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: blue;
}

img{
    border: 1.5px solid;
    margin-left: 43.85%;
    width: 150px;
    height: 200px;
}

#bidDiv{
    background-color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    padding: 20px;
}

ul{
    text-align: left;
}

#lilDiv{
    background-color: lightgray;
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
}

table, th, td{
    font-size: 25px;
    border: 1px solid;
    border-collapse: collapse;
}